<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
  <div class="col">
    <h3>Character</h3>
    <hr>
    <ul>
      <li *ngFor=" let dbz of listCharacter;">{{dbz.name}} - {{dbz.power | number}}</li>
    </ul>
  </div>

  <div class="col">
    <h3>Add</h3>
    <hr>
    <!-- form (submit)= "addCharacter( $event )" -->
    <form (ngSubmit) = "addCharacter()">
      <input
        type= "text"
        placeholder="Name"
        name="name"
        [(ngModel)]="newCharacter.name"
      />
                <!-- [value]="newCharacter.name"
                (input)="" -->
      <input type= "number" placeholder="Power" [value]="newCharacter.power"
        name="power"
        [(ngModel)]="newCharacter.power"/>

      <button type="submit">Add</button>

    </form>
  </div>
</div>
